<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.smartherd.globofly">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
                android:name="com.smartherd.globofly.activities.DestinationListActivity"
                android:label="Destination List"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name="com.smartherd.globofly.activities.DestinationDetailActivity"
                android:label="Destination Detail"
                android:parentActivityName="com.smartherd.globofly.activities.DestinationListActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.smartherd.globofly.activities.DestinationListActivity" />
        </activity>

        <activity
                android:name="com.smartherd.globofly.activities.DestinationCreateActivity"
                android:label="New Destination"
                android:parentActivityName="com.smartherd.globofly.activities.DestinationListActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.smartherd.globofly.activities.DestinationListActivity" />
        </activity>

        <activity
                android:name="com.smartherd.globofly.activities.WelcomeActivity"
                android:label="GloboFly"
                android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
